# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Виртуальные окружения
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp

# Переменные окружения
.env

# ОС
.DS_Store
Thumbs.db


